.Container{
  height:100vh ;
  width: 100%;
  background-color: white;
  float: left;
  padding:0%;
  }
  .Outerdiv{
      margin-top: 50px;
      margin-left: 10px;
  height:60vh;
  width: 20%;
  background-color:lightgray;
  float:left;
  padding-top: 10px;
  border-radius: 10px;
  border: end start radius 50px; 
  border-style:solid;
  
  }
  .outerdiv.label{
    margin-left: 20px;
  }
  .Username{
      margin-left: 10px;
  width: 80%;
  height: 10vh;
  padding-bottom: 1px;
  }
  .Username input{
    width:100%
  }
  .Password{
      margin-left: 10px;
      width: 100%;
      height: 10vh;
    padding-bottom: 5px;
  }
  .Password input{
    width:80%
    
  }
  
  .Newuser{
      width: 80%;
      color: blue;
  height: 10vh;
  float: left;
  margin-left: 10px;
  background-color: lightgrey;
  }
  .Newuser:hover{
      color: blue;
  }
  .Login{
      width: 100%;
  height: 5vh;
  float: left;
  margin-left: 10px;
  padding-top: 10px;
  }
  .Login button{
    
    background-color: lightsteelblue;
  }
.outer {
    width: 100%;
    height: 100vh;
  }
  .firstrow {
    border-bottom: 1px solid black;
    text-align: right;
    height: 5vh;
  }
  .firstrow label {
    color: gray;
    font-size: small;
  }
  .secondrow {
    width: 100%;
    height: 100vh;
  }
  .usericon {
    height: 3vh;
    width: 20px;
    border-radius: 25px;
    background-color: blue;
    float: right;
  }
  .firstcolumn {
    width: 20%;
    height: 100vh;
    border-right: 1px solid black;
    float:left;
  }
  .firstcolumn li {
    list-style: none;
    text-align: center;
    padding: 8%;
    background-color: lightgray;
    
  }
  .firstcolumn li:hover
  {
      color: white;
  }
  .secondcolumn
  {
      width:79%;
      height: 100vh;
      float:right;
  
  }
  .usernamerow
{
    width:100%;
    height: 10vh;
   
}
.users
{
    height: 3vh;
    width: 20px;
    border-radius: 25px;
    background-color:red;
    margin: 30%;
    padding: 10px;
    margin-top: 10px;
    
}

.singleuser {
  overflow-x: scroll;
  padding-top: 10%;
  margin-right: 20%;
}
.eachuser {
  padding: 2%;
  float: left;
  width: 10%;
  height: 6vh;
  text-align: center;
} 
.statusnamerow
{
    width:100%;
    height:5vh;
    background-color: aqua;
}

.taskbar1 {
  width: 20%;
  height: 60vh;
  border: 1px solid black;
  float: left;
}
.taskbar2 {
  width: 20%;
  height: 60vh;
  border: 1px solid black;
  float: left;
  margin-left: 3%;
}
.taskbar3 {
  width: 20%;
  height: 60vh;
  border: 1px solid black;
  float: left;
  margin-left: 3%;
}

.taskbar4 {
  width: 20%;
  height: 60vh;
  border: 1px solid black;
  float: left;
  margin-left: 3%;
}

.statusnamerow label {
  margin-left: 14%;
}
.seccolumfirstrow {
width: 100%;
height: 25vh;
float: left;
background-color:lightgray;
}
.userlabel {
  padding-top: 40px;
  color: blue;
}

.buttonright label{
    color: slategrey;
  font-weight: 900;
  font-size: x-large;
  text-align: center;
  padding-left: 5%;
  float: left;
    
}

.buttonright button{
    float:right;
    background-color: gray;
    color: white;
    border: none;
    height: 5vh;
    width: 10%;
}


.seccolumsecondrow{
padding-top: 50px;
width: 100%;
height: 100vh;

margin-top: 5px;
}

.seccolumsecondrow th{
    width: 29%;
    border-top: 10px;
    border-bottom: 10px;
    text-align: center;
    padding: 20px;
   
   
}

.seccolumsecondrow td{
    width: 29%;
    border:none;
    text-align: center;
    padding: 10px;
}
.trow :hover{
    background-color: lightgrey;
}

.titleinput{
    margin-left: 10px;
    margin-right: 5%;
width:96%;
height: 5vh;
}
.descriptioninput{
width:96%;
margin-left: 10px;
    margin-right: 5%;
height: 20vh;
}
.statusinput select{
  margin-left: 10px;
    margin-right: 5%;
width: 96%;
height: 5vh;
}
.assignedtoinput select{
  margin-left: 10px;
    margin-right: 5%;
    width: 96%;
    height: 5vh;
}

pbutton {
  text-align: right;
}
.pbutton button {
  border: none;
  background-color: white;
  text-align: right;
}
.tablerow table {
  /* background-color: aqua; */
  border-top: 1px solid gray;
  padding-left:2%;
  padding-top: 15%;
}

.tablerow {
  /* border-top: 1px solid gray; */
  width: 80%;

  height: 60vh;
}
.tablerow th {
  color: slategray;
  border-bottom: 1px solid gray;
  /* width: 20%; */
  
}
.tablerow td {
  color: slategray;
  width: 45%;
  border-bottom: 1px solid gray;
  padding: 4%;
}
.tablerow tr {
  text-align: center;
}