.outerdiv {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.firstrow {
  background-color: red;
  height: 50px;
  width: 100%;
}

.secondrow {
  background-color: aqua;
  width: 100%;
  height: 100vh;
}

.secfirstcolumn {
    height: 100vh;
    width:20%;
    background-color: green;
    float: left;
}
.secsecondcolumn {
    height: 100vh;
    width: 80%;
    background-color: aqua;
    float: left;
}
.firstrow label{
    float: right;
}
.secsecondcolumn th,td{
    border:1px solid black;
}